<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <img src="C:\Users\luisa.mejia\Downloads\Nueva carpeta\youtube\youtube\img\img_max.png"  width="400px" height="340px" >
    <section class="form-login">
      <h5>Login</h5>
      <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
      <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
      <a class="buttons"  href="{% url 'visual:home' %}" name="">Iniciar sesión</a>
      <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
    </section>
  </body>
</html>
